<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">Listagem</div>
				<div class="panel-body">

					<a ng-href="#/clients/new" class="btn btn-primary">Inserir novo</a>

					<table class="table" ng-init="all()">
						<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Responsible</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Ação</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="o in items">
							<td>
								<a ng-href="#/clients/{{o.id}}">{{o.id}}</a>
							</td>
							<td>{{o.name}}</td>
							<td>{{o.responsible}}</td>
							<td>{{o.email}}</td>
							<td>{{o.phone}}</td>
							<td>
								<a ng-href="#/clients/{{o.id}}/edit" class="btn btn-primary btn-xs">Editar</a> 
								<a ng-href="#/clients/{{o.id}}/remove" class="btn btn-danger btn-xs">Excluir</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
