
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Detalhes</div>
				<div class="panel-body">
					<ul ng-init="get()">
						<li><strong>Id:</strong>{{item.id}}</li>
						<li><strong>Name:</strong>{{item.name}}</li>
						<li><strong>E-mail:</strong>{{item.email}}</li>
						<li><strong>Phone:</strong>{{item.phone}}</li>
						<li><strong>Responsible:</strong>{{item.responsible}}</li>
						<li><strong>Address:</strong>{{item.address}}</li>
						<li><strong>Obs:</strong>{{item.obs}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
